Library/*
Temp/*
Packages/manifest.json
ProjectSettings/*
!ProjectSettings/InputManager.asset
!ProjectSettings/TagManager.asset
obj/

.collabignore

**/.vscode/
**/.vs

**/Assets/Plugins/*
**/Assets/Plugins.meta

*.idea
*.csproj
*.sln
*.suo
*.userprefs
*.app
*.VC.*
.DS_Store
*~
*.swp

.vs/
build/*
*.rsp
*.pyc
/Logs
